<div id="<%= dom_id retweet %>">
  <p>
    <strong>User:</strong>
    <%= retweet.user_id %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= retweet.tweet_id %>
  </p>

  <p>
    <strong>Retweet number:</strong>
    <%= retweet.retweet_number %>
  </p>

</div>
