<div id="<%= dom_id like %>">
  <p>
    <strong>User:</strong>
    <%= like.user_id %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= like.tweet_id %>
  </p>

  <p>
    <strong>Like number:</strong>
    <%= like.like_number %>
  </p>

</div>
