<h1>Editing hashtagtweet</h1>

<%= render "form", hashtagtweet: @hashtagtweet %>

<br>

<div>
  <%= link_to "Show this hashtagtweet", @hashtagtweet %> |
  <%= link_to "Back to hashtagtweets", hashtagtweets_path %>
</div>
