<!-- app/views/shared/_footer.html.erb -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© <%= Time.now.year %> Twitter</span>
  </div>
</footer>
